body {
    background-color: rgb(52, 52, 52);
  }
  * {
    color: white;
  }
  h1 {
    text-align: center;
  }
  .team {
    width: 50%;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px;
    border-style: solid;
  }
  #footer {
    text-align: left;
    text-indent: 0;
    font-size: 16px;
  }
  p {
    font-size: 18px;
    text-indent: 30px;
  }