body {
    background-color: rgb(52, 52, 52);
  }
  * {
    color: white;
  }
  h1,
  h3,
  p {
    text-align: center;
  }
  p{
    font-size: 16px;
  }
  #footer {
    list-style-type: none;
    text-align: left;
  }
  .map a:link{
    text-decoration: none;
  }
  .map a:visited{
    text-decoration: underline;
    color: lightblue;
  }
  .map a:hover{
    text-decoration: underline;
  }
  .map a:active{
    text-decoration: underline;
  }